body{
  background-color: #DEF8D6;
  font-family: "Trebuchet MS"; 
}

.notes__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
  padding: 2em;
}

.navbar {
  display: flex;
  align-items: center;
  padding-left: 2em;
  background: linear-gradient(1deg, #00A891 0%,#00C770 100%);
}

.navbar__title {
  font-size: 30px;
  font-family: bold;
  margin-right: 15px;
  color:whitesmoke;
  text-shadow: 1px 1px 2px rgb(92, 83, 83);
}

.navbar__archivedLink {
  font-size: 18px;
  text-shadow: 1px 1px 2px rgb(92, 83, 83);
  color: whitesmoke;
  letter-spacing: 0.4px;
  text-decoration: none;

}

@media (max-width: 700px) {
  .notes__container {
    grid-template-columns: 1fr;
  }
}

/*Filter of categories*/

.filter__container {
  padding:1em 0em 1em 3em;
  background-color: white;
  box-shadow: 1px 1px 10px 0px rgba(70, 67, 67, 0.41);
}

.filter__span {
  font-size: 18px;
  font-weight: 700;  
}

.filter__select {
  width: 200px;
  padding: 8px;
  border-radius: 20px;
  margin-left: 10px;
}